* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

#header1 {
    /* width: 98.792vw; */
    width: 100%;
    background-color: #0C5188;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 700px;
}

#lado-esquerdo-header1,
#lado-direito-header1 {
    padding: 21px 0px 27px 0px;
    display: flex;
    flex-direction: row;
    gap: 35px;
}

#lado-esquerdo-header1 a+a {
    border-left: 1px solid #FE5007;
    padding-left: 20px;
}

#lado-esquerdo-header1 {
    align-items: flex-end;
}

#lado-direito-header1 {
    align-items: center;
}