/* geral ----------------------------------------------------------  */
/* autor: Jhonson M. */

@font-face {
    font-family: Avenir;
    src: url("./assets/fonts/avenir-lt-std-85-heavy.otf");
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto';
}

body {
    background-color: #ffffff;
    /* font-family: 'Avenir'; */
}

a {
    text-decoration: none;
    color: #ffffff;
}

.banner img {
    padding-top: 45px;
    width: 1220px;
    height: 465px;
    padding-bottom: 40px;
}

/* ------------------------ HEADER  */

#header1 {
    width: 100%;
    height: 70px;
    background: RGB(32, 76, 123);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 40%;
    border-bottom: 1px solid #ffffff;
    font-weight: bold;
}

#lado-esquerdo-header1 a:hover {
    color: #000000;
}

#lado-esquerdo-header1,
#lado-direito-header1 {
    padding: 21px 0px 27px 0px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

#lado-esquerdo-header1 a+a {
    border-left: 1px solid #FE5007;
    padding-left: 20px;
}

#lado-esquerdo-header1 {
    align-items: flex-end;
}

.icon-home-header1 {
    margin-top: 5px;
}

#lado-direito-header1 {
    align-items: center;
}

.button-colaborador {
    background-color: #FE5007;
    color: #ffffff;
    border: 1px solid #000000;
    margin-bottom: 5px;
    padding: 5px 22px;
    border-radius: 3px;
    font-family: 'Avenir';
    font-style: italic;
    cursor: pointer;
}

.button-geral {
    background-color: #FE5007;
    color: #ffffff;
    border: 1px solid #000000;
    margin-bottom: 5px;
    padding: 10px 50px;
    border-radius: 3px;
    font-family: 'Avenir';
    font-style: italic;
    cursor: pointer;
}

/* ------------------------------------HEADER 2 */

#header2 {
    background-color: #ffffff;
    width: 100%;
    height: 165px;
    margin: -1px;
}

.img-30anosiel-header2 {
    position: relative;
    left: -100px;
}

/* ---------------------------------HEADER 3 */

#header3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ffffff;
    font-weight: bold;
}

.div-botoes-header3 {
    background: RGB(32, 76, 123);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2px;
    list-style: none;
}

.div-botoes-header3 li {
    list-style: none;
}

.div-botoes-header3 li:hover ul,
.div-botoes-header3 li.over ul {
    display: block;
}

.div-botoes-header3 li ul {
    position: absolute;
    display: none;
    margin-top: 5px;
    margin-left: -25px;
}

.div-botoes-header3 li ul li {
    display: block;
    text-align: center;
    width: 210px;
}

.div-botoes-header3 li+li {
    border-left: 1px solid #000000;
}

.sub-div-botoes-header3 li+li {
    border: none;
}

.sub-div-botoes-header3 {
    border-radius: 10px;
    background-color: RGB(2, 61, 88);
}

ul li .width-sub-div {
    margin-left: -50px;
}

ul li .width-sub-div li {
    width: 270px;
}


#header3 button {
    cursor: pointer;
    border: none;
    width: fit-content;
    color: #ffffff;
    background-color: transparent;
    font-family: 'Avenir';
    font-weight: bold;
}

.opcao {
    padding: 15px 38px;
    font-size: medium;
}

.sub-opcao {
    padding: 15px 5px;
    font-size: 16px;
}

/* fim do header ------------------------------------------------------ */


/* main */
/*--  */
/*-- */
/* fim do main */

/* --------------------- footer */

#footer {
    background: RGB(32, 76, 123);
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 40px;
    align-items: center;
    padding-bottom: 50px;
}

#footer-lado-esquerdo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#footer-lado-direito {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#redes-cinza {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.horario-footer {
    text-align: center;
}